* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

/*Color del titulo de las páginas*/
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}

header h2 {
    color: rgb(255, 255, 255);

}

/*color, tamaño y tipo de letra de h2*/
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

/*color, tamaño y tipo de letra de h2*/
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*Diseño de la pagina*/
.contenedor-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*Diseño del encabezado*/
header {
    grid-area: header;

    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100px;
    position: fixed;
    width: 100%;
}

/*Barra de navegación, tipo de letra, tamaño, etc..*/
.navbar {
    position: fixed;
    top: 100px;
    width: 100%;
}

#navbarNavAltMarkup {
    justify-content: space-around !important;
}

.nav-link {
    padding: 0px 50px !important;
}

/*color de las letras de la barra de navegacion*/
a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 25px !important;
}

/*Estilos del main: Página de inicio*/
.main-inicio {
    width: 100%;
    padding-top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/*se agrega imagen de fondo*/
.mensaje-inicio {
    background-image: url(../images/principal.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    align-content: center;
}

/*estilo de mensaje de inicio*/
.mensaje-inicio p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: #0000005b;
}

/*se agrega animaciones*/
@keyframes entrar {
    from {
        margin-right: 100%;
        width: 300%
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

.trabajo-inicio h2, .destacados-inicio h2{
    animation: entrar 2s infinite;
}

/*imagenes del mismo tamaño*/
#proy-1 img,
#proy-2 img,
#proy-3 img,
#proy-4 img,
#est-1 img,
#est-2 img {
    height: 150px;
    width: 250px;
}

/* Pagina nuestro trabajo*/
.main-nuestro-trabajo .container-fluid {
    margin: 130px 0px 0px 0px !important;
}

/*h3 de nuestro trabajo*/
.main-nuestro-trabajo h3 {
    color: rgb(33, 20, 156);
}

/*centrar elementos de cada caja*/
#proy-estruc,
#proy-arq,
#proy-cons,
#proy-mant,
#proy-planos {
    margin: 10px 2px 2px 0px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*imagenes del mismo tamaño*/
#proy-estruc img,
#proy-arq img,
#proy-cons img,
#proy-mant img,
#proy-planos img {
    height: 150px;
    width: 250px;
}

.main-nuestro-trabajo img {
    cursor: pointer;
    transition: all 500ms ease-out;
}

.main-nuestro-trabajo img:hover {
    transform: scale(1.5);
}

/*Estilos de Galería*/
.main-galeria {
    padding: 160px 0px 0px 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-galeria .titulo {
    padding: 70px 10px 0px 0px;
}

.contenedor-galeria .descrip {
    text-align: justify;
}

/*para evitar que las imagenes pasen encima del header*/
.carousel-inner {
    z-index: -1;
}

.mod-edificio,
.proy-rev,
.proy-ref,
.rev-edif {
    border-style: dashed;
    border-color: rgb(80, 83, 255);
}

/*Animaciones para la galeria*/
.main-galeria .titulo {
    position: top;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.titulo {
    animation: typewriter 5s steps(44) 1s 1 normal both;
    z-index: -1;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 12em;
    }
}

/*Estilos página nosotros*/
.main-nosotros {
    width: 100%;
    padding-top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/*Agregamos una imagen de fondo*/
.nosotros-mensaje {
    background-image: url("../images/fondo1.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

/*estilos del mensaje nosotros*/
.nosotros-mensaje h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.525);
}

/*se agrega animacion*/
.nosotros-mensaje h2{
    animation: entrar 1s infinite;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 250px;
    width: 250px;
}

#mensaje p,
#mision p,
#vision p {
    text-align: justify;
}

#mision,
#vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.nosotros-pagina img {
    height: 200px;
    width: 100%;
}

/*Estilos para página de contacto*/
.main-contacto {
    padding: 135px 0px 25px 0px;
    height: auto;
    width: 100%;
}

#contacto-cons {
    background-image: url(../images/fondo2.jpg);
    background-size: 200px;
}

#contacto-cons img {
    height: 300px;
    width: 300px;
}

#contacto-des {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-image: url(../images/fondo2.jpg);
    background-size: 200px;
}

#contacto-des p {
    text-align: left;
    background-color: #ffffffde;
    animation: entrar2 1s 1;
}

@keyframes entrar2 {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#contacto-des h2 {
    background-color: #ffffffde;
}

#contacto-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#contacto-info p {
    height: 30px;
    font-size: 15px;
}

/*Color de fondo para el formulario*/
#contacto-form {
    background-color: rgb(233, 231, 231);
    margin: 10px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 15px 25px;
    border-radius: 10px;
}

/*Pie de página*/
footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*position: absolute;*/
    bottom: 0;
    height: 100%;
    width: 100%;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}


/*Texto de las páginas*/
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/**************************/
/* Media queries */
/*************************/

/*para Laptop*/
@media screen and (min-width: 1200px) {

    /*Color del titulo de las páginas*/
    h1 {
        font-size: 80px;
    }

    /*color, tamaño y tipo de letra de h2*/
    h2 {
        font-size: 35px;
        color: wihte;
    }

    /*color, tamaño y tipo de letra de h2*/
    h3 {
        font-size: 30px;
    }

    /*Texto de las páginas*/
    p {
        font-size: 25px;
        text-align: center;
    }

    /*estilos del header*/
    header {
        grid-area: header;

        background: black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        position: fixed;
        width: 100%;
    }

    /*Estilos del main: Página de inicio*/
    .main-inicio {
        width: 100%;
        padding-top: 140px;
    }

    /*se agrega imagen de fondo*/
    .mensaje-inicio {
        height: 490px;
    }

    /*estilo de mensaje de inicio*/
    .mensaje-inicio p {
        font-size: 20px;
        text-align: center;
        color: white;
        background-color: #0000005b;
        margin: 50px;
    }

    /*imagenes del mismo tamaño*/
    #proy-1 img,
    #proy-2 img,
    #proy-3 img,
    #proy-4 img,
    #est-1 img,
    #est-2 img {
        height: 350px;
        width: 350px;
    }

    /*Estilos de la página Nuestro Trabajo*/
    .main-nuestro-trabajo .container {
        margin: 0px !important;
    }

    .main-nuestro-trabajo .container {
        width: 100%;
    }

    /*imagenes del mismo tamaño*/
    #proy-estruc img,
    #proy-arq img,
    #proy-cons img,
    #proy-mant img,
    #proy-planos img {
        height: 250px;
        width: 350px;
    }

    /*Se agregan animaciones*/
    .imagen {
        overflow: hidden;
    }

    .imagen img {
        cursor: pointer;
        transition: all 500ms ease-out;
    }

    /*Estilos de Galería*/
    /*En galería hacer imagenes tipo presentacion*/
    #carouselExampleSlidesOnly {
        margin: 5px 200px;
        height: 650px;
        width: 650px;
    }

    /*tamño de las imagenes */
    #c1 img,
    #c2 img,
    #c3 img,
    #c4 img,
    #ed1 img,
    #ed2 img,
    #ed3 img {
        height: 450px;
        width: 650px;
    }

    #t1 img,
    #t2 img,
    #t3 img {
        height: 450px;
        width: 550px;
    }

    #e3 img,
    #e4 img {
        height: 450px;
        width: 450px;
    }

    .main-galeria p {
        font-size: 20px;
    }

    /*Animaciones para la galeria*/
    .titulo {
        animation: typewriter 5s steps(44) 1s 1 normal both;
        z-index: -1;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 18em;
        }
    }

    /*Estilos página nosotros*/
    /*Estilos página nosotros*/
    .main-nosotros {
        width: 100%;
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    /*Agregamos una imagen de fondo*/
    .nosotros-mensaje {
        height: 490px;
        width: 100%;
    }

    /*estilos del mensaje nosotros*/
    .nosotros-mensaje h2 {
        font-size: 60px;
    }

    #logo img {
        height: 250px;
        width: 350px;
    }

    #mensaje p,
    #mision p,
    #vision p {
        text-align: justify;
    }

    #mision,
    #vision {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .nosotros-pagina img {
        height: 550px;
        width: 100%;
    }

    /*Estilos para página de contacto*/
    .main-contacto {
        padding: 135px 0px 25px 0px;
        height: auto;
        width: auto;
    }

    #contacto-cons,
    #contacto-des {
        background-image: url(../images/fondo2.jpg);
        background-size: 400px;
        height: 500px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contacto-info {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    #contacto-info p {
        height: 50px;
        font-size: 20px;
    }

    /*Pie de página*/
    footer {
        height: 70px;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) {

    /*Color del titulo de las páginas*/
    h1 {
        font-size: 35px;
        text-align: center;
    }

    /*color, tamaño y tipo de letra de h2*/
    header h2 {
        font-size: 30px;
        color: #fff;
    }

    /*color, tamaño y tipo de letra de h2*/
    h3 {
        font-size: 25px;
    }

    /*Texto de las páginas*/
    p {
        font-size: 20px;
    }

    /*Barra de navegación, tipo de letra, tamaño, etc..*/
    .navbar {
        position: fixed;
        top: 90px;
        width: 100%;
    }

    /*Estilos del main: Página de inicio*/


    /*imagenes del mismo tamaño*/
    #proy-1 img,
    #proy-2 img,
    #proy-3 img,
    #proy-4 img,
    #est-1 img,
    #est-2 img {
        height: 250px;
        width: 100%;
        padding: 5px 2px;
    }

    /*Animaciones para la galeria*/
    .titulo {
        animation: typewriter 5s steps(44) 1s 1 normal both;
        z-index: -1;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 18em;
        }
    }

    /*Estilos de la página Nuestro Trabajo*/
    .main-nuestro-trabajo .container {
        margin: 120px 0px 0px 0px !important;
    }

    /*h3 de nuestro trabajo*/
    .main-nuestro-trabajo h3 {
        color: rgb(33, 20, 156);
    }

    /*Estilos página nosotros*/
    .main-nosotros {
        width: 100%;
        padding-top: 140px;
        align-content: center;
    }

    .nosotros-pagina img {
        height: 400px;
        width: 100%;
    }

    /*Estilos para página de contacto*/
    .main-contacto {
        width: auto;
    }

    #contacto-info {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    #contacto-info p {
        height: 30px;
        font-size: 15px;
    }

    footer i {
        color: #fff;
    }
}